[user]
	name = Philipp Weissmann
	email = mail@philipp-weissmann.de
[core]
	editor = vim
[credential]
	helper = cache --timeout=3600
[alias]
    ca = commit -a
    c = clone --recursive
    s = status -s
    l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'

